* {
    margin : 0;
    padding : 0;

}

body {
    display : flex;
    justify-content: center;
    align-items: center;
    min-height : 100vh;
}

.calculator {
    display : flex;
    flex-wrap : wrap;
    width : 340px;
    border-radius : 10px;
    padding : 20px;
    box-shadow : 0 0 10px #000040;
    background-color : #161616;

}

.calculator-screen {
    width : 100%;
    overflow : hidden;
    font-size : 30px;
    text-align : right;
    font-family : 'Orbitron' , sans-serif;
    color : #ffffff;
    padding : 10px;
}

.calculator-keys {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-evenly;
    column-gap : 5px;
    row-gap : 15px;
    margin-top : 5px;
    margin-bottom : 5px;
}

.calculator-keys button {
    width : 70px;
    height : 60px;
    font-size : 24px;
    border-radius : 10px;
    box-shadow : 0 0 1px #000040;
    border: none;
    background-color : #050505;
    color : #ffffff;
    border-radius : 10px;
    cursor : pointer;
    border-radius : 10px;
    cursor : pointer;

}

.operator {
    background-color : #454e57 !important;
}

.all-clear {
    background-color : #bf2727 !important;
}

.clear-entry {
    background-color : #d0751a !important;
}

button:active {
    background-color : #454e57;
}

.operator:active, .all-clear:active, .clear-entry:active {
    background-color : #050505 !important;
}